.chat-container {
  width: 100%;
  max-width: 1050px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  height: 200px;
  border: 3px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.messages {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  background: #f9f9f9;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.message {
  margin-bottom: 10px;
  padding: 8px 12px;
  background: #e0e0e0;
  border-radius: 12px;
  max-width: 70%;
}

.input-area {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  background: white;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border-radius: 20px;
  border: 3px solid #ccc;
  outline: none;
}

button {
  margin-left: 8px;
  padding: 0 20px;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  background-color: #142967;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005bb5;
}

.sobre {
  margin-top: 20px;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.footer-container {
  margin-top: 30px;
  background-color: #1C3489;
  color: #ecf0f1;
}

.newsletter-compact-card {
  background-color: #ffffff;
}

.cad-button {
  color: #ffffff !important;
  background-color: #142967 !important;
}

.newsletter-section {
  background-color: #3498db;
  padding: 30px 20px;
}

.newsletter-section h2 {
  color: white;
  margin-bottom: 10px;
}

.newsletter-section p {
  color: white;
  margin-bottom: 20px;
}

.newsletter-input-group {
  max-width: 600px;
  margin: 0 auto;
}

.newsletter-input {
  flex-grow: 1; /* Permite que o input cresça para preencher o espaço */
  border-radius: 5px;
  padding: 10px 15px; /* Preenchimento interno */
  border: none; /* Remove a borda padrão */
}

.p-button-lg {
  padding: 10px 20px;
  border-radius: 5px;
}

.footer-main {
  margin-top: 30px;
  background-color: #1C3489;
  color: #bdc3c7;
  padding: 40px 20px;
}

.footer-main h3 {
  color: #ecf0f1;

  margin-bottom: 15px;
  border-bottom: 2px solid #3498db; /* Linha azul abaixo dos títulos */
  padding-bottom: 5px;
}

.footer-main ul {
  list-style: none; /* Remove marcadores de lista */
}

.footer-main ul li {
  margin-bottom: 10px;
}

.footer-link, .footer-link-contact, .footer-contact-text {
  color: #bdc3c7; /* Cor de link mais clara */
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.footer-link:hover, .footer-link-contact:hover {
  color: #52b5f8; /* Cor de hover azul */
}

.footer-link-contact i, .footer-contact-text i {
  font-size: 1.1em; /* Tamanho do ícone */
}

.footer-copyright {
  background-color: #0e1943; /* Cor mais escura para o copyright */
  color: #bdc3c7;
  padding: 15px 0;
  font-size: 0.9em;
  border-top: 1px solid rgba(255, 255, 255, 0.1); /* Linha divisória sutil */
}

