.app-header {
  /*position: fixed;*/
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  color: white;
  background-color: #1C3489 !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* pra sobrepor o sidenav */
  display: flex;
  align-items: center;
}

.lost-b {
  color: #ffffff !important;
}
.lost-b:hover {
  color: #142967 !important;
  background-color: #ffffff !important;
}

.found-b {
  color: #ffffff !important;
}
.found-b:hover {
  color: #142967 !important;
  background-color: #ffffff !important;
}

.user {
  color: #ffffff !important;
}
.user:hover {
  color: #142967 !important;
  background-color: #ffffff !important;
}


.myitem-b {
  color: #ffffff !important;
}
.myitem-b:hover {
  color: #142967 !important;
  background-color: #ffffff !important;
}

.selected .lost-b,
.selected .found-b,
.selected .myitem-b{
  background-color: #ffffff !important;
  color: #142967 !important;

  border: 1px solid #142967;
}

.logo-mask {
  height: 37px;
  width: 38.2px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-mask video {
  height: 44px;
  width: 40.8px;
  border-radius: 50%;
  object-fit: cover;
  object-position: -3.5px -3.5px;
}


table {
  width: 100%;
  .mat-mdc-header-cell {
    font-weight: bold;
    background: black;
    color: white;
  }
}

.mat-mdc-form-field {
  width: 30%;
}

.flex-container {
  display: flex;
  justify-content: space-between;

}
.table {
  width: 100%;
  .mat-mdc-header-cell {
    font-weight: bold;
    background: black;
    color: white;
  }
}

.mat-mdc-form-field {
  width: 30%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.cardWithShadow {
  display: flex;
  flex-direction: row; /* altera de coluna para linha */
  align-items: flex-start;
  padding: 16px;
  gap: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
