.app-header {
  /*position: fixed;*/
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  color: white;
  background-color: #183177 !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* pra sobrepor o sidenav */
  display: flex;
  align-items: center;
}
