@use '@angular/material' as mat;
@import 'primeflex/primeflex';
@import 'ngx-toastr/toastr';

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
    tertiary: mat.$blue-palette,
  )
));

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100%;

  @include mat.all-component-themes($theme);
}

html {
  height: 100%;
}

table {
  width: 100%;
  .mat-mdc-header-cell {
    font-weight: bold !important;
    background: #171480 !important;
    color: white !important;
  }
}

.menu{
  background-color: #171480 !important;
  color: white !important;
}

.menu-btn{
  color: white !important;
}

.menu-btn-active{
  background-color: white !important;
  color: #171480 !important;
}

.btn-default:active {
  background-color: #171480 !important;
  color: white !important;
}


@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);
.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  color: #FFFFFF;
  background-color: #1C3489;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* pra sobrepor o sidenav */
  display: flex;
  align-items: center;
}

.lost-b {
  color: #ffffff !important;
}
.lost-b:hover {
  color: #142967 !important;
  background-color: #ffffff !important;
}
.selected .lost-b,
.selected .found-b,
.selected .myitem-b{
  background-color: #ffffff !important;
  color: #142967 !important;

  border: 1px solid #142967;
}


.found-b {
  color: #ffffff !important;
}
.found-b:hover {
  color: #142967 !important;
  background-color: #ffffff !important;
}

.myitem-b {
  color: #ffffff !important;
}
.myitem-b:hover {
  color: #142967 !important;
  background-color: #ffffff !important;
}

.user {
  color: #ffffff !important;
}
.user:hover {
  color: #142967 !important;
  background-color: #ffffff !important;
}

.logo-mask {
  height: 37px;
  width: 38.2px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-mask video {
  height: 44px;
  width: 40.8px;
  border-radius: 50%;
  object-fit: cover;
  object-position: -3.5px -3.5px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 2rem;
}
.delete-b {
  background-color: #f5001d !important;
  color: white !important;
}
.delete-b:hover {
  background-color: #a80015 !important;
}
