<div class="flex flex-column justify-content-center align-content-center px-4 m-5">
  <mat-card class="mx-4 mb-4">
    <mat-card-header>
      <div class="flex flex-row justify-content-between align-items-between w-full">
        <h2>Econtre itens perdidos</h2>
        <button mat-raised-button (click)="goToPage('lost_item/create')" class="btn-default">
          Cadastre um item perdido
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="flex flex-row justify-content-between align-content-between gap-3 w-full">
          <mat-form-field class="w-6"> <!-- Formulario -->
            <mat-label>Pesquisar titulo</mat-label>
            <input matInput [(ngModel)]="searchTitle">
          </mat-form-field>
          <mat-form-field class="w-6"> <!-- Formulario -->
            <mat-label>Pesquisar cidade</mat-label>
            <input matInput [(ngModel)]="searchCity">
          </mat-form-field>

          <button mat-fab (click)="search()" class="btn-default">
            <mat-icon>search</mat-icon>
          </button>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="flex flex-wrap justify-content-center gap-4">
    @for (item of dataSource; track item.title) {
      <!-- items.component.html -->
      <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-4">
          <mat-card class="item-card cursor-pointer" (click)="goToPage('photo')">
            <div class="image-container">
              <img mat-card-image
                   [src]="'https://material.angular.io/assets/img/examples/shiba2.jpg'"
                   [alt]="'imgSrc'"
              />
              <span class="price-badge">R$ {{ item.reward | number:'1.2-2' }}</span>
            </div>
            <mat-card-content>
              <h3 class="item-title">{{ item.title }}</h3>
              <div class="metadata p-d-flex p-flex-column p-ai-start p-mt-2">
                <div class="p-d-flex p-ai-center meta-row">
                  <mat-icon>location_on</mat-icon>
                  <span>{{ item.city }}</span>
                </div>

                <div class="p-d-flex p-ai-center meta-row">
                  <mat-icon>event</mat-icon>
                  <span>{{ item.date_lost | date:'dd/MM/yyyy' }}</span>
                </div>
                <p class="description p-mt-2">{{ item.last_seen_details }}</p>
              </div>
            </mat-card-content>

            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="goToPage('photo')" class="w-full">
                Ver detalhes
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

    }
  </div>

  @if (dataSource.length === 0) {
    <div class="flex flex-center">
      <h2>Nenhum Item encontrado</h2>
    </div>
  }
</div>
