
<h1>Recente itens perdidos</h1>
<div class="flex flex-column gap-1">
  <div class="flex gap-3">
    <mat-form-field> <!-- Formulario -->
      <mat-label>Pesquisar titulo</mat-label>
      <input matInput [(ngModel)]="searchTitle">
    </mat-form-field>
    <mat-form-field> <!-- Formulario -->
      <mat-label>Pesquisar detalhes</mat-label>
      <input matInput [(ngModel)]="searchLastSeen">
    </mat-form-field>
    <mat-form-field> <!-- Formulario -->
      <mat-label>Pesquisar cidade</mat-label>
      <input matInput [(ngModel)]="searchCity">
    </mat-form-field>

    <button mat-fab (click)="search()" class="btn-default">
      <mat-icon>search</mat-icon>
    </button>

  </div>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      @for (items of dataSource; track items.title) {
        <mat-card class="cardWithShadow items">
          <a routerLink="/found_item">
            @if (itemImages[items.id]?.length > 0){
            <img [src]="itemImages[items.id][0]?.remote_name"
                 alt="Image for {{ items.title }}"
                 class="banner-image bg-no-repeat bg-primary-100 bg-center w-19rem h-19rem bg-primary border-2 border-transparent" mat-card-image />
          } @else {
            <img loading="lazy"
                 src='{{imageAddress}}'
                 class="banner-image bg-no-repeat bg-primary-100 bg-center w-19rem h-19rem bg-primary border-2 border-transparent"
                 alt="Hero banner showcasing main content"
                 tabindex="0" />
          }
          </a>
          <mat-card-content class="p-b-24 p-t-12 position-relative">
            <mat-card-title class="mat-headline-2 f-s-16 m-b-4">
              {{ items.title }}
            </mat-card-title>
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <h3 class="mat-body-2 f-w-600">{{ items.city }}</h3>
                <h5 class="mat-body-2 f-w-600"> {{ items.date_lost | date:'shortDate' }}</h5>
                <mat-card-subtitle class="f-s-14 m-l-4">{{ items.last_seen_details }}</mat-card-subtitle>
              </div>
              <div class=" flex-grow-1 gap-4">
              </div>
            </div>
            <button mat-raised-button class="w-100" matTooltip="meu item" (click)="goToPage('photo')">
              achei seu item
            </button>
          </mat-card-content>
        </mat-card>
      }
    </div>
  </div>

  @if (dataSource.length === 0) {
    <div class="flex flex-center">
      <h2>Nenhum Item encontrado</h2>
    </div>
  }
</div>
