<app-default-login-layout
  title="Cadastre aqui sua nova conta!"
  primaryBtnText="Cadastrar"
  secondaryBtnText="Entrar"
  (submit)="submit()"
  (navigate)="navigate('login')"
  [isDisabled]="!signupForm.valid"
>
  <form [formGroup]="signupForm" class="signup-form">
    <app-input-primary
      formControlName="username"
      inputName="username"
      type="text"
      label="Usuário"
    >
    </app-input-primary>
    <app-input-primary
      formControlName="email"
      inputName="email"
      type="email"
      label="E-mail"
      placeholder="seuemail@gmail.com"
    >
    </app-input-primary>
    <app-input-primary
      formControlName="password"
      inputName="password"
      type="password"
      label="Senha"
    >
    </app-input-primary>
    <app-input-primary
      formControlName="confirmPassword"
      inputName="confirmPassword"
      type="password"
      label="Confirmar senha"
    >
    </app-input-primary>
  </form>

</app-default-login-layout>
