<!-- Header -->
<header class="app-header">
  <div class="flex align-items-center gap-2 px-3 py-2">
    <span class="text-white font-bold text-xl">Lost to Find</span>
    <div class="logo-mask">
      <video autoplay loop muted playsinline>
        <source src="assets/logo-moving.mp4" type="video/mp4" />
      </video>
    </div>
  </div>

  <!-- Botões à direita -->
  <div class="flex gap-4 ml-auto m-3">
    <button class=" lost-b " mat-button routerLink="/lost_item">Itens Perdidos</button>
    <button class=" found-b " mat-button  routerLink="/found_item">Itens Encontrados</button>
    <button class=" myitem-b " mat-button routerLink="/my_items">Meus Itens</button>

    <div routerLinkActive="selected" [routerLinkActiveOptions]="{ exact: true }">
      <button class="user" mat-icon-button routerLink="/user">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>

  </div>
</header>


<div *ngIf="item; else loading">
  <h2>{{ item.title }}</h2>
  <p><strong>Descrição:</strong> {{ item.description }}</p>
</div>
<ng-template #loading>
  <p>Carregando detalhes...</p>
</ng-template>
