container {
  width: 100%;
  justify-content: center;
  .mat-mdc-header-cell {
    font-weight: bold;
    background: black;
    color: white;
  }
}

.mat-mdc-form-field {
  width: 30%;
}

.flex-container {
  display: flex;
  justify-content: space-between;

}
.table {
  width: 100%;
  .mat-mdc-header-cell {
    font-weight: bold;
    background: black;
    color: white;
  }
}

.mat-mdc-form-field {
  width: 30%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.cardWithShadow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mat-card-image {
  width: 100%;
  object-fit: cover;
  height: auto;
}
