<div class="flex flex-column justify-content-center align-content-center px-4 m-5">
  <mat-card class="mx-4 mb-4">
    <mat-card-header>
      <div class="flex flex-row justify-content-between align-items-between w-full">
        <h2>Itens recentemente encontrados</h2>
        <div class="flex flex-row justify-content-end align-items-center gap-3">
          <button mat-stroked-button [ngClass]="{'is-mined': isMined}"
                  (click)="isMined = !isMined; search()" class="btn-default">
            Mostrar apenas meus itens
          </button>
          <button mat-flat-button (click)="goToPage('found_item/create')" class="btn-default">
            Cadastre um item encontrado
          </button>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="flex flex-row justify-content-between align-content-between gap-3 w-full">
        <mat-form-field class="w-6"> <!-- Formulario -->
          <mat-label>Pesquisar titulo</mat-label>
          <input matInput [(ngModel)]="searchTitle">
        </mat-form-field>
        <mat-form-field class="w-6"> <!-- Formulario -->
          <mat-label>Pesquisar cidade</mat-label>
          <input matInput [(ngModel)]="searchCity">
        </mat-form-field>

        <button mat-fab (click)="search()" class="btn-default">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="flex flex-wrap justify-content-center gap-4">
    @for (item of dataSource; track item.title) {
      <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-4">
          <mat-card class="item-card cursor-pointer">
            <div class="image-container">

              <img mat-card-image
                   [src]="'https://material.angular.io/assets/img/examples/shiba2.jpg'"
                   [alt]="'imgSrc'"
              />
            </div>

            <mat-card-content (click)="goToPage((isMined ? 'found_item/' :'found_item_details/')+ item?.id)">
              <h3 class="item-title">{{ item?.title }}</h3>
              <div class="metadata p-d-flex p-flex-column p-ai-start p-mt-2">
                <div class="flex flex-row justify-content-start align-items-start">
                  <mat-icon>person</mat-icon>
                  <span>{{ item?.user?.['first_name'] + " " + item?.user?.['last_name'] }}</span>
                </div>

                <div class="flex flex-row justify-content-start align-items-start">
                  <mat-icon>tag</mat-icon>
                  <span>{{ item?.category?.['name'] }}</span>
                </div>

                <div class="flex flex-row justify-content-start align-items-start">
                  <mat-icon>location_on</mat-icon>
                  <span>{{ item?.city }}</span>
                </div>

                <div class="flex flex-row justify-content-start align-items-start">
                  <mat-icon>event</mat-icon>
                  <span>{{ item?.date_found | date:'dd/MM/yyyy' }}</span>
                </div>

                <p class="description my-2 ellipsis">
                  {{ item?.description }}
                </p>
              </div>
            </mat-card-content>

            <mat-card-actions>
              @if (isMined) {
                <div class="flex flex-row align-content-center justify-content-center gap-3">
                  <button mat-flat-button color="primary" (click)="goToPage('found_item'+ item?.id)" class="w-8">
                    Editar Item
                  </button>
                  <button mat-flat-button (click)="delete(item?.id)" class="w-4 delete-b">
                    <mat-icon>delete</mat-icon>
                    Deletar
                  </button>
                </div>

              } @else {
                <button mat-flat-button color="primary" (click)="goToPage('found_item_details/'+ item?.id)"
                        class="w-full">
                  Ver detalhes
                </button>
              }
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    }
  </div>

  @if (dataSource.length === 0) {
    <div class="flex flex-center">
      <h2>Nenhum Item encontrado</h2>
    </div>
  }
</div>
