<app-default-login-layout
  title="Login into your account"
  primaryBtnText="Login Now"
  secondaryBtnText="Signup Now"
  (submit)="submit()"
  (navigate)="navigate('signup')"
  [isDisabled]="!loginForm.valid"
>
  <form [formGroup]="loginForm" class="login-form">
    <app-input-primary
      formControlName="username"
      inputName="username"
      type="text"
      label="Username"
    >
    </app-input-primary>
    <app-input-primary
      formControlName="password"
      inputName="password"
      type="password"
      label="Password"
    >
    </app-input-primary>
  </form>

</app-default-login-layout>
