mat-form-field {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;

}

.form-container {
  max-width: 700px; /* Define a largura máxima de 800px */
  width: 100%; /* Garante que o contêiner ocupe toda a largura disponível */
  margin: 0; /* Remove a margem para alinhamento à esquerda */
  padding: 0 16px; /* Adiciona um pequeno padding, se necessário */
}



.data, .categoria, .cidade,.recompensa{
  max-width: 400px;
}



